.basic-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    height: 15%;
    box-shadow: var(--box-shadow);
    background-color: rgb(220, 236, 251);
}

.add-icon{
    font-size: 40px;
}