.home{
    width: calc(100vw - 40px);
    background-color: aliceblue;
    height: calc(100vh - 100px);
    margin: 0 20px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-home-container{
    display: flex;
    width: 45%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}